.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  height: auto;
  background-color: rgba(22, 26, 25, 0.741);
  box-shadow: 0 0 10px rgba(63, 63, 63, 0.1), 0 4px 8px rgba(71, 71, 71, 0.2);
  z-index: 100;
  
}

.iconDescription {
  display: none;
}

.header ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
  max-height: 100px;
  transition: max-height 0.3s ease;
  margin: 0;
  height: fit-content;
}

.header nav {
  margin: 0;
}

.header a {
  text-decoration: none;
}

.header li {
  display: none;
  /* background-color: bisque; */

  color: rgb(17, 17, 17);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.icons{ 
  color: white ;
}

.signOut{
  color: rgb(250, 108, 108);
}

.img {
  width: 30px;
  height: 30px;
}

.header ul.openUl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  width: 100%;
  align-items: center;
  max-height: calc(100vh);
}
.header .menu {
  margin-left: auto;
}

.openUl li {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

.header li:hover {
  color: rgb(128, 123, 123);
}

.active {
  color: rgb(128, 123, 123);
}

@media only screen and (min-width: 800px) {
  .header {
    justify-content: flex-end;
    background-color: rgba(22, 26, 25, 0.741);
    
    height: 60px;
  }
 
  .icons{
    display: none;
  }

  .header li {
    display: block;
    padding: 0 14px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .openUl {
    flex-direction: row;
    height: fit-content;
  }

  .header ul.openUl {
    flex-direction: row;
    align-items: center;
    height: fit-content;
    max-height: fit-content;
  }
  .iconDescription {
    display: inline-block;
  }
}

@media only screen and (min-width: 1500px) {
  .header li {
    font-size: 1.8rem;
  }
  .icons{
    display: none;
  }

}
