.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(25, 25, 26, 0.795);
  box-shadow: 0 0 10px rgba(63, 63, 63, 0.1), 0 4px 8px rgba(71, 71, 71, 0.2);
  z-index: 100;
}

.header ul {
  display: flex;
  gap: 0.2rem;
  max-height: 100px;
  transition: max-height 0.3s ease;
  margin: 0;
  height: fit-content;
}

.header li {
  display: none;
}

.header ul.openUl {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: calc(100vh);
  max-height: calc(100vh);
}

.openUl li {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

.header li:hover {
  color: rgb(52, 175, 149);
}

.header li {
  color: white;
}

.header .active {
  color: rgb(52, 175, 149);
}

.signOut {
  color: rgb(248, 107, 107);
}

@media only screen and (min-width: 800px) {
  .header {
    justify-content: flex-end;
    height: 60px;
  }

  .header li {
    display: block;
    padding: 0 14px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .openUl {
    flex-direction: row;
    height: fit-content;
  }

  .header ul.openUl {
    flex-direction: row;
    align-items: center;
    height: fit-content;
    max-height: fit-content;
  }
}

@media only screen and (min-width: 1500px) {
  .header li {
    font-size: 1.8rem;
  }
}
