.header{
    display: flex;
    min-height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 255, 205);
} 
.logo{
    display: flex;
    align-items: center;
}   

.logo img{
    height: 50px;
    margin-right: 10px;
}   

.menu{
    position: absolute ;
    left: 5%;
}

.menu img{
    height: 30px;
}

.header nav{
    display: flex;
}

.navlink{
    display: none;
    margin-right: 20px;
} 

.navlink:hover{
    color: rgb(134, 134, 134) 
}
.familyIMGcontainer{
    width: 100%;
    margin: 0;
    padding: 0;
}

.familyIMG{
    width: 100%;
    height: auto;
    display: block;
}

@media (min-width:700px){
    .header{
        flex-direction: row;
        justify-content: space-around;
    }
   
    .header nav{
        padding: 10px 0px;
        flex-direction: row;

    }

    .navlink{
        display: block;
        /* flex-direction: column; */
    }

    .menu{
        display: none;
    }

    
}
