.loaderContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  background-color: rgba(40, 40, 40, 0.603);
  z-index: 1001;
}

.loader {
  align-self: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6bebcb;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 10;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
